/* 
    SCSS
    08FEB2023
    v1.1 
*/

// Base
@import 'base/var';
@import 'base/general';

// flex
@import 'components/flexGrid';

// Components
@import 'components/heading';
@import 'components/header';
@import 'components/console';

.yin-yang {
    width: 50px;
    box-sizing: content-box;
    height: 25px;
    background: #fff;
    border-color: #333;
    border-style: solid;
    border-width: 2px 2px 26px 2px;
    border-radius: 100%;
    position: relative;
  }
  .yin-yang:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    background: #fff;
    border: 9.4px solid #333;
    border-radius: 100%;
    width: 6.25px;
    height: 6.25px;
    box-sizing: content-box;
  }
  .yin-yang:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background: #333;
    border: 9.4px solid #fff;
    border-radius: 100%;
    width: 6.25px;
    height: 6.25px;
    box-sizing: content-box;
  }