.flexContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;


    .flexItem {
        flex: 0 0 auto;
        margin: 10px;
    }
}